<div class="edit_post">
  <h2>Editar Post</h2>

  <form action="/posts/{{postId}}?_method=PUT" method="PUT" class="edit_form">

    <div class="edit_label">
      <label for="title">Título</label>
      <input type="text" class="edit_input" id="title" name="title" value="{{post.title}}" />
    </div>

    <div class="edit_label">
      <label for="body">Contenido</label>
      <textarea class="edit_input" id="body" name="body" rows="3">{{post.body}}</textarea>
    </div>

    <button class="edit_btn">Enviar</button>

  </form>
</div>